.relevanceCont{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em 1em;
    padding: 1em;
    justify-content: space-between;
}

.relevanceVideo{
    flex-basis: 300px;
    flex-grow: 1;
}

.relevanceVideo .imgCont img{
    width: 100%;
    border-radius: 1em;
}
.relevanceVideo .textCont{
    margin-top: .5em;
    display: flex;
    column-gap: 1em;
}
.relevanceVideo .textCont img{
    width: 45px;
    border-radius: 50%;
}
.relevanceVideo .textCont .title{
    font-weight: 400;
    font-family: var(--ff-roboto);

}
.relevanceVideo .textCont .sec2{
    display: flex;
    flex-wrap: dense;
    column-gap: 1em;
    
    
}

.relevanceVideo .textCont .sec2 p{
    font-size: var(--fs-400);
}