:root{
   --fs-500: 1rem;
   --fs-600: 1.82rem;
   --fs-700: 2.94rem;
   --ff-opensans: 'Open Sans', sans-serif;
   --ff-roboto: 'Roboto', sans-serif;
   --bg: rgb(239, 42, 12);
   font-size: 16px;
}
*, *:before, *:after {
   box-sizing: border-box;
 }

h1, h2, h3{
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   margin: 0;
   padding:0;
}
h1{font-size: var(--fs-700)}
h2{font-size: var(--fs-600)}

p, section, span, ul, li{
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-size: var(--fs-500);
   margin: 0;
   padding:0;
   list-style: none;
   text-decoration: none;
}


/* 
   320px — 480px: Mobile devices.
   481px — 768px: iPads, Tablets.
   769px — 1024px: Small screens, laptops.
   1025px — 1200px: Desktops, large screens.
   1201px and more — Extra large screens, TV.
*/

@media only screen and (max-width: 480px) {
   
}
/* Media Query  for Ipads and Tablets */
@media only screen and (min-width: 481px) {
  
   
}
/* Media Query  for Small Laptop */
@media only screen and (min-width: 769px) {
   :root{
      font-size: 18px;
   }
}
/* Media Query  for Large Desktop */
@media only screen and (min-width: 1025px) {
   
}
/* Media Query  for Extra Large Screens or TV */
@media only screen and (min-width: 1201px) {
   
}